<div data-controller="book">
 <h1 data-target="book.output"></h1>
</div>
<section>
  <ul>
    <% @books.each do |book| %>
    <li style="display:block">
      <%= book.title.titleize %>
      <%= book.authors %>
      <img src="<%= book.image_link(:zoom => 1) %>" alt="">
    </li>
    <% end %>
  </ul>
</section>
