<div data-controller="book">
 <h1 data-target="book.output"></h1>
</div>
<section>
  <ul>
  <% @books.map do |book| %>
    <% if eval @book_fields_present %>
    <li>
      <strong><%= book.title.titleize %></strong>
      <%= "- #{book.authors}" %>
      <br>
      <img src="<%= book.image_link(:zoom => 1) %>" alt="">
    </li>
    <% end %>
  <% end %>
  </ul>
</section>


