<div class="temp" style="text-align:center; color: #fff; background: #003bcc; padding: 2em .7em">
  <h1 style="margin-top: 0">Note taking app for books.</h1>
  <h2>Note taking app for books.</h2>
  <h3>Note taking app for books.</h3>
  <h4>Note taking app for books.</h4>
  <h5 style="margin-bottom: 0">Note taking app for books.</h5>
</div>