<style>
  .temp {
    height: calc(100vh - (75px + 8em));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
</style>

<div class="temp" style="text-align:center">
  <h1>Note taking app for books.</h1>
  <h2>Note taking app for books.</h2>
  <h3>Note taking app for books.</h3>
  <h4>Note taking app for books.</h4>
  <h5>Note taking app for books.</h5>
</div>