<style>
.temp {
  text-align: center;
  color: #fff;
  background: #003bcc;
  padding: 2em .7em;
  height: calc(100vh - (139px));
  display: flex;
  justify-content: center;
  flex-direction: column;
}

</style>
<div class="temp" style="text-align:center; color: #fff; background: #003bcc; padding: 2em .7em">
  <h1 style="margin-top: 0">Note taking app for books.</h1>
  <h2>Search for books.</h2>
  <h3>Add them to your list.</h3>
  <h4 style="margin-bottom: 0">Take snippets of notes.</h4>
</div>