<style>
.temp {
  text-align: center;
  color: #fff;
  background: #003bcc;
  padding: 2em .7em;
  height: calc(100vh - (139px));
  display: flex;
  justify-content: center;
  flex-direction: column;
}

</style>
<div class="temp" style="text-align:center; color: #fff; background: #003bcc; padding: 2em .7em">
  <h1 style="margin-top: 0">Authentication coming soon.</h1>
</div>