$main-color: #000;
$main-hover: #333;
$success-color: #00b939;
$success-hover: #00a733;
$button-color: #084efa;
$hover-color: #003bcc;
$delete-color: #af0101;
$delete-hover: #860000;

.primary-btn {
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  padding: 0.7em 0.9em;
  background: transparent;
  color: $button-color;
  border: 2px solid $button-color;
}

.primary-btn:hover {
  background: $button-color;
  color: #fff;
}

.success-btn {
  background: $success-color;
}

.success-btn:hover {
  background: $success-color;
}

header a {
  text-decoration: none;
  color: #084efa;
  font-weight: 900;
}

header a:hover {
  text-decoration: none;
}

#logo {
  font-weight: bold;
  font-size: 1.5em;
}

nav {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0 .7em;
  height: 75px;
  position: relative;
  background: #fff;
}

.nav-items {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-items a {
  padding: .7em .9em;
}

.nav-items li {
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 600;
  border: 0;
  color: #fff;
  padding: .7em 0;
  background: transparent;
  border: 2px solid transparent;
}

.nav-items li.sign-up {
  border: 2px solid #084efa;
  background: #084efa;
}

.nav-items li.sign-up:hover {
  background: #003bcc;
  border: 2px solid #003bcc;
  text-decoration: none;
}

.nav-items li a:hover {
  text-decoration: underline;
}

.nav-items li.sign-up a {
  color: #fff;
  border: 0;
}

.nav-items li.sign-up a:hover {
  text-decoration: none;
}

.nav-items li.sign-up {
  margin-left: .5em;
}

.hamburger {
  border: 0;
  padding: 0.5em;
  cursor: pointer;
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
  background: transparent;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 5px;
  border-radius: 1px;
  background-color: $button-color;
  transition: all .25s ease-in-out;
  margin: 5px auto 0;
}

.hamburger.open span {
  position: absolute;
  left: 10px;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(225deg);
  top: 22px;
}

.hamburger.open span:nth-child(2),
.hamburger.open span:nth-child(3) {
  transform: rotate(135deg);
  top: 22px;
  margin-top: 0;
}


// search
.search {
  padding: 0 .7em;
}

//.search.full-height{
//  height: calc(100vh - (75px + 10em));
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  flex-direction: column;
//}

.search__bar {
  text-align: center;
  padding-top: 2em;
  max-width: 600px;
  width: 100%;
  margin: auto;
}

.search__bar form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  width: 90%;
  flex-direction: column;
}

.search__bar div:first-child {
  display: flex;
  width: 100%;
  height: 2.7em;
}

#no-search {
  text-align: center;
  font-weight: bold;
}

#no-search.hide {
  display: none;
}

#no-search p {
  padding: 1em .5em;
}

.search__sort {
  margin: 1em 0 1.5em;
}

.search__bar h1 {
  margin-top: 0;
}

.search__bar input {
  padding: .6em;
  width: 100%;
  border: 1px solid #b1b1b1;
  border-right: 0;
}

.search__bar button {
  cursor: pointer;
  color: #fff;
  background: transparent;
  border: 1px solid $main-color;
  font-weight: bold;
  padding: 0.4em 0.5em 0 .5em;
  height: 100%;
  border-radius: 0;
}

.search__bar button:hover {
  background: transparent;
}

.search__bar button img {
  width: 1.7em;
}

.search__results {
  max-width: 900px;
  margin: auto;
  padding: 0 .7em;
}

.search__results.hide {
  display: none;
}

.search__lookup p {
  text-align: center;
  margin: 1.5em 0 0;
}

.search__lookup.hide {
  display: none;
}

.search__book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 9.5em;
  flex-wrap: wrap;
  padding: 1.5em 0;
  border-top: 1px solid #e7e7e7;
}

.search__book--first {
  border-top: 0;
}

.search__book--detail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__book--action {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.search__book--action.hide {
  display: none;
}

.search__book--added {
  cursor: initial;
  color: #fff;
  border: 2px solid $success-color;
}

.search__book--added.hide {
  display: none;
}

.search__book--notice,
.search__book--warning {
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin: 0;
}

.search__book--notice.hide,
.search__book--warning.hide {
  display: none;
}
.search__book--notice {
  text-decoration: none;
}

.search__book--notice:hover {
  text-decoration: underline;
}

.search__book--action:hover {
  background: $hover-color;
}

.search__info {
  margin: 0 1.5em;
  max-width: 450px;
}

.search__title {
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 0;
  margin-bottom: 0.4em;
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.search__title:hover {
  text-decoration: underline;
}

.search__author {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1.2em;
}

.search__pages {
  font-size: .9em;
}

.search__date {
  font-size: .9em;
}

.search__image {
  width: 100%;
  max-width: 96px;
  box-shadow: 0 0.1em 0.2em 0 rgba(0, 0, 0, .3);
}

// books

#no-books {
  text-align: center;
  margin-top: 3em;
}

.total-books {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.5em;
  opacity: .2;
  display: none;
}

.books {
  max-width: 900px;
  margin: auto;
  padding: 0 .5em;
  margin-top: 2em;
}

.books__unit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5em 0 1.7em;
  border-top: 1px solid #e7e7e7;
  min-height: 9.5em;
  min-height: 0;
}

.books__unit:first-child {
  border: 0;
  padding-top: 0;
}

.books__detail {
  display: flex;
  align-items: center;
}

.books__info {
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 400px;
}

.books__title {
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 0;
  margin-bottom: 0.4em;
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.books__title:hover {
  text-decoration: underline;
}

.books__author {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.books__image {
  width: 100%;
  max-width: 96px;
  box-shadow: 0 0.1em 0.2em 0 rgba(0, 0, 0, 0.3);
  display: none;
}

.books__action a {
  text-decoration: none;
}

.books__action a.delete {
  color: $delete-color;
  border: 2px solid $delete-color;
  margin-left: .5em;
}

.books__action a.delete:hover {
  background: $delete-hover;
  border: 2px solid $delete-hover;
  color: #fff;
}


// book
.book {
  max-width: 900px;
  margin: auto;
  padding: 0 .5em;
  margin-top: 2em;
}

// temp styles
.book__unit {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.book__title {
  font-weight: bold;
  font-size: 1.8em;
  margin-top: 0;
  margin-bottom: 0.4em;
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.book__author {
  margin: 0;
  font-size: 1.3em;
}


// pagination
.page {
  display: none;
}

.page-1 {
  display: block;
}

.page.page--current {
  display: block;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.page-number {
	cursor: initial;
}

.pagination .primary-btn {
  font-weight: bold;
  background: transparent;
  border: 2px solid transparent;
  color: #000;
  font-size: 1.1em;
  text-transform: uppercase;
  position: relative;
  display: block;
}

.pagination .primary-btn span {
  position: absolute;
  font-size: 1.6em;
  top: 6px;
  opacity: .2;
}

.pagination .primary-btn span.next {
  right: 0;
}

.pagination .primary-btn span.prev {
  left: 0;
}

.pagination button:hover {
  background: transparent;
}

.pagination button.hide {
  visibility: hidden;
  display: none;
}

.pagination .next-btn {
  padding: .7em 2.2em .7em .7em;
  margin-left: .7em;
  display: block;
}

.pagination .prev-btn {
  padding: .7em .7em .7em 2.2em;
  margin-right: .7em;
  display: block;
}

.pagination .next-btn:hover,
.pagination .prev-btn:hover {
  opacity: .85;
}

%paginate-btn {
	font-style: normal;
  border: 0;
  background: $main-color;
  color: #fff;
  padding: 0.6em 0.8em;
  border-radius: 0;
  font-weight: bold;
}

.previous_page.disabled,
.next_page.disabled {
	visibility: hidden;
  display: none !important;
}

.pagination a {
	display: none;
}

a[rel="prev"],
a[rel="next"] {
	display: none;
}

a.previous_page,
.previous_page.disabled,
.next_page.disabled,
a.next_page {
	text-decoration: none;
  display: none;
	@extend %paginate-btn;
}

.next_page {
	margin-left: 1em;
}

.previous_page, {
	margin-right: 1em;
}

.current {
	cursor: initial;
  display: none;
	@extend %paginate-btn;
}

p#notice {
	text-align: center;
  font-weight: bold;
  color: red;
}

footer {
  display: none;
}

@media (max-width: 768px) {

  .hamburger {
    display: block;
  }
  
  .nav-items {
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 75px;
    left: 0;
    background: #fff;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .15s ease-in-out;
  }
  
  .nav-items.open {
    z-index: 777;
    opacity: 1;
    visibility: initial;
    padding: 1em 0 1em;
    border-bottom: 1px solid #ececec;
  }
  
  .nav-items li.sign-up a {
    color: $button-color;
  }
  
  .nav-items li.sign-up {
    border: 2px solid transparent;
    background: transparent;
    text-decoration: none;
    margin-left: 0;
  }
  
  .nav-items li.sign-up:hover {
    background: transparent;
    border: 2px solid transparent;
    text-decoration: underline;
  }

  .search__book {
    flex-direction: column;
    padding: 2.5em 0 0.8em;
  }

  .search__info {
    margin: 0 auto;
    text-align: center;
  }

  .search__title {
    max-width: 420px;
  }

  .search__image {
    max-width: 150px;
    margin-bottom: .7em;
  }

  .search__book--detail {
    flex-direction: column;
  }

  .search__book--action,
  .search__book--added,
  .search__book--notice,
  .search__book--warning {
    margin: 0.5em 0 1em;
  }
  
  .books__unit {
    flex-direction: column;
    padding: 2.3em 0.5em 3.2em;
  }
  
  .books__detail {
    flex-direction: column;
    text-align: center;
  }
  
  .books__action {
    margin-top: 2.3em;
  }
  
  .books__image {
    max-width: 130px;
    margin-bottom: .7em;
  }
}